.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Charts
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = form_tag('/get_chart', method: :get, remote: true, class: 'navbar-form navbar-left') do
          .form-group
            %label
              Currency
              = select_tag :currency, options_for_select([['USD','USD'],['EUR','EUR'],['GBP','GBP']],'USD'), class: "form-control select-currency"
          .form-group
            %label
              Time Span
              = select_tag :time_span, options_for_select([['1D','1D'],['5D','5D'],['1M','1M'],['3M','3M'],['6M','6M'],['1Y','1Y'],['2Y','2Y'],['5Y','5Y'],['MAX','MAX']],'1D'), class: "form-control select-time-span"
          .form-group.container-botoes
            = submit_tag "HighChart JS", class: "btn btn-success botao-js", "data-loading-text" => "Loading..."
            = submit_tag "HighChart Ruby", class: "btn btn-danger botao-ruby", "data-loading-text" => "Loading..."
            = submit_tag "HighStock JS", class: "btn btn-warning botao-stock", "data-loading-text" => "Loading..."
    / /.nav-collapse
.container-fluid
  .col-md-8
    .container-grafico.well
    %button.btn.btn-default#button-clear-high Clear
  .col-md-4
    .container-dados
  
.container-fluid
  .col-md-8
    .container-grafico-stock.well
    %button.btn.btn-default#button-clear-stock Clear